<%= form_for(@snippet_version) do |f| %>
  <% if @snippet_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet_version.errors.count, "error") %> prohibited this snippet_version from being saved:</h2>

      <ul>
      <% @snippet_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <% if @snippet.snippet_versions.last
      content= @snippet.snippet_versions.last.content
    else
      content = ""
    end %>
    <label for="">Le contenu actuel est celui de la dernière version du commit</label>
    <%= f.text_area :content, value: content, class:"codemirror-content", data: {cdMirrorMode: "javascript"} %>
  </div>



  <div class="form-group">
    <%= f.label :type_version %>
      <% SnippetVersion::VERSION_TYPE.each do |v| %>
      <div class="radio-group">
        <label for=""><%= v[0] %></label>
        <input type="radio" name="snippet_versions[type_version]" value="<%= v[1] %>">
      </div>
      <% end %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_field :comment, class:"form-control" %>
  </div>

  <%= f.hidden_field :snippet_id %>
  <div class="form-group">
    <%= f.label :doc %>
    <%= f.text_field :doc, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Enregistrer", class:"btn btn-colored" %>
  </div>
<% end %>
