<p id="notice"><%= notice %></p>

<h1><%= @snippet.name %> - <%= @snippet_version.version %></h1>
<!-- <p>
  <strong>Content:</strong>
  <%= @snippet_version.content %>
</p> -->
<%= form_for @snippet_version do |f| %>
<%= f.text_area :content, class:"codemirror-content", data: {cdMirrorMode: @snippet_version.snippet.lang.cdMirror} %>
<% end %>
<p>
  <strong>Doc:</strong>
  <%= @snippet_version.doc %>
</p>

<%= link_to 'Edit', edit_snippet_version_path(@snippet_version) %> |
<%= link_to 'Back', snippet_path(@snippet_version.snippet_id) %>
