<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @snippet_version.content %>
</p>

<p>
  <strong>Version:</strong>
  <%= @snippet_version.version %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @snippet_version.doc %>
</p>

<%= link_to 'Edit', edit_snippet_version_path(@snippet_version) %> |
<%= link_to 'Back', snippet_versions_path %>
