<%= form_for(snippet) do |f| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <% langs_array = @languages.all.map { |language| [language.lib, language.id] } %>
    <%= select_tag "snippet[lang_id]", options_for_select(langs_array) %>
  </div>

  <% snip = SnippetVersion.new %>
  <%= f.fields_for :snippet_versions, snip do |ff| %>
    <%= ff.text_field :content, placeholder: "Content", class:"codemirror-content", data: {cdMirrorMode:"javascript"} %>
    <%= ff.text_area :doc, placeholder: "Documentation" %>
    <%= ff.text_field :comment, placeholder: "Commentaire" %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
