<%= form_for([snippet.user, snippet]) do |f| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
      <ul>
      <% snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="input-field form-item--md">
    <%= f.text_field :name, class:"validate" %>
    <%= f.label :name %>
  </div>
  
  <div class="input-field form-item--md">
    <% langs_array = @languages.all.map { |language| [language.lib, language.id] } %>
    <%= select_tag "snippet[lang_id]", options_for_select(langs_array, snippet.lang_id) %>
    <%= f.label :lang_id %>
  </div>  





  <div class="input-fiel">
    <%= cktext_area :snippet, :description, cols: 40, ckeditor: { toolbar: 'mini' }, value: "Describe your snippet" %>
  </div>


  <div class="actions">
    <%= f.submit t("actions.save") , class:"btn btn-colored" %>
  </div>
<% end %>
