<%= render template: "application/sidebar",  locals: { user:@user } %>

<div class="body-aside">
	
	<div class="form materialize ">
		<%= form_for([@snippet.user, @snippet]) do |f| %>
		<div class="body-top">
			<h1 class="body-top__content">Paramètres - <%= @snippet.name %></h1>	
			<div class="body-top__action-container">
				<%= link_to t("snippet.actions.back"), user_snippet_path(@snippet), class:"btn btn-colored btn--back body-top__action" %>
				 <%= f.submit t("actions.save") , class:"btn btn-colored body-top__action" %>
			</div>
		</div>

	
		<div class="form margin-top-big">
		
		  <% if @snippet.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
		      <ul>
		      <% @snippet.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  
		  <div class="input-field form-item--md">
		    <%= f.text_field :name, class:"validate" %>
		    <%= f.label :name %>
		  </div>
		  
		  <div class="input-field form-item--md">
		    <% langs_array = @languages.all.map { |language| [language.lib, language.id] } %>
		    <%= select_tag "snippet[lang_id]", options_for_select(langs_array, @snippet.lang_id) %>
		    <%= f.label :lang_id %>
		  </div>  

		  <p>
		    <%= f.check_box :private, class:"filled-in", checked: true %>
		    <%= f.label :private %>
		  </p>
		  <p class="form-item__mention form-item__mention--danger">Mettre en privé signifie que personne à part vous pourra visualiser ce contenu</p>
		  <div class="divider margin-bottom-medium margin-top-medium"></div>
		  <div class="input-fiel">
		    <%= cktext_area :snippet, :description, cols: 40, ckeditor: { toolbar: 'mini' }, value: "Describe your snippet" %>
		  </div>
		</div> 
		<% end %>
	</div>
</div>


