<%= render template: "application/sidebar",  locals: { user:@user } %>

<div class="body-aside">

	<div class="body-top">
		<h1 class="body-top__content"><%= t("snippet.index.title") %></h1>	
		<div class="body-top__action-container">
			<% if @user.id == current_user.id %>
			<%= link_to t("snippet.actions.new"), new_user_snippet_path(user_id: @user), class:"btn btn-colored body-top__action" %>
			<% end %>
		</div>
	</div>

	<div class="search-helper">
		<div class="search-helper__item">
			<label for="" class="search-helper__item-label">Recherche par tags</label>
			<input type="text" class="form-item form-item__search">
		</div>

		<div class="search-helper__item">
			<label for="" class="search-helper__item-label">Trier par</label>
			<div class="form-item form-item__select-container">
			  <select class="form-item__select">
			    <option value="alpha">Ordre alphabétique</option>
			    <option value="starred">Nombre de starred</option>
			    <option value="date">Date</option>
			  </select>
			</div>
		</div>
	
		<div class="search-helper__item">
			<label for="" class="search-helper__item-label">Ordre</label>
			<input type="text" class="form-item form-item__search">
		</div>

		<div class="search-helper__item">
			<label for="" class="search-helper__item-label">Filtrer</label>
			<input type="text" class="form-item form-item__search">
		</div>
	</div>

</div>

<div class="last-snippets">
  <h2><%= t("snippet.index.title") %></h2>
  <div class="snippets list-drop-down">
    <% @snippets.each do |snippet| %>
    <%= render "product-drop-down", snippet: snippet %>
    <% end %>
  </div>
</div>