<%= render template: "application/sidebar",  locals: { user:@user } %>

<div class="body-aside">

	<div class="body-top">
		<h1 class="body-top__content"><%= t("snippet.index.title") %></h1>	
		<div class="body-top__action-container">
			<% if @user.id == current_user.id %>
			<%= link_to t("snippet.actions.new"), new_user_snippet_path(user_id: @user), class:"btn btn-colored body-top__action" %>
			<% end %>
		</div>
	</div>
	
	<%= render template: "application/search-helper",  locals: { user:@user, snippets: @snippets } %>

	 <div class="items">
	 	 <% @snippets.each do |snippet| %>
    		<div class="items__item">
    			<div class="items__item-head">
    				<p class="items_item-title"><%= snippet.name %></p>
    				<% if snippet.private %>
					<%# TODO: Integrate private %>
    				<% end %>
    				<% if snippet %>
    				<%# TODO: Implement Starred button %>
    				<% end %>
    			</div>
				
				<div class="items__item-body">
					<div class="items__item-content"><%= raw snippet.description %></div>
					<div class="language-list">
						<ul>
							<li style="background-color:<%= snippet.lang.bgColor %>; color:<%= snippet.lang.color %>;" class="language-list__item"><%= snippet.lang.cd.upcase %></li>
						</ul>
					</div> 	
				</div>

				<%= link_to "", user_snippet_path(id: snippet, user_id: snippet.user), class:"items__item-show" %>
    		</div>
    	<% end %>
    	<% if current_user && current_user.id==@user.id && @snippets.length == 0 %>
    	<p>Vous n'avez pas encore de snippets ! </p>
    	<%= link_to "Créer un snippet !", new_user_snippet_path(user_id: @user), class:"btn btn-colored margin-top-small" %>
    	<% end %>
	 </div>

</div>
