
<div>
  <p id="notice"><%= notice %></p>

  <h1 class="code"><%= @snippet.name %></h1>
  <p>
    <strong>Description:</strong>
    <%= @snippet.description %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= @snippet.lang.lib %>
  </p>
  <p>
    <% version = @snippet.snippet_versions.last %>
    <% content = version.content %>
    <!-- <textarea class="codemirror-content" data-cdMirrorMode="<%= @snippet.lang.cdMirror %>"><%= content %></textarea> -->
    <%= form_for version do |f| %>
    <%= f.text_area :content, class:"codemirror-content", data: {cdMirrorMode: @snippet.lang.cdMirror} %>
    <% end %>
  </p>

  <div class="version">
    <% @snippet.snippet_versions.each do |version| %>
      <p><%= link_to "Version : "+version.version, version %></p>
    <% end %>
  </div>

  <%= link_to 'New version', new_snippet_snippet_version_path(@snippet) %> |
  <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
  <%= link_to 'Back', snippets_path %>

</div>
