
<div id="snippet_show">
  <h1>SNIPPET | <span class="code"><%= @snippet.name %></span></h1>
  <div>
    <p class="info uppercase" style="background-color: <%= @snippet.lang.bgColor %>; color: <%= @snippet.lang.color %>;"><%= @snippet.lang.lib %></p>
    <select id="select_version">
      <% @snippet.snippet_versions.each_with_index do |v, i| %>
      <% if i == @snippet.snippet_versions.length-1 %>
        <option selected value="<%= i %>"><%= v.version %></option>
      <% else %>
        <option value="<%= i %>"><%= v.version %></option>
      <% end %>
      <% end %>
    </select>
  </div>
  <div id="code">
  <% @snippet.snippet_versions.each_with_index do |v, i| %>
    <div class="code-version <% if i == @snippet.snippet_versions.length-1 %>visible<% end %>">
      <textarea rows="8" cols="80" class="codemirror-content" data-cdMirrorMode="<%= @snippet.lang.cdMirror%>"><%= v.content %></textarea>
    </div>
  <% end %>
  </div>


  <p>
    <strong>Description:</strong>
    <%= @snippet.description %>
  </p>

  <div class="version">
    <% @snippet.snippet_versions.each do |version| %>
      <p><%= link_to "Version : "+version.version, version %> - <%= link_to "Destroy", version, method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
  </div>

  <%= link_to 'New version', new_snippet_snippet_version_path(@snippet) %> |
  <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
  <%= link_to 'Back', snippets_path %>

</div>
