<div id="snippet_show">
  <h1><%= t("activerecord.models.snippet")%> | <span class="code"><%= @snippet.name %></span></h1>
  <div class="header-show">
    <p id="notice"><%= notice %></p>
    <p class="info uppercase left" style="background-color: <%= @snippet.lang.bgColor %>; color: <%= @snippet.lang.color %>;"><%= @snippet.lang.lib %></p>
    <select id="select_version" style="border-color: <%= @snippet.lang.bgColor %>;">
      <% @snippet.snippet_versions.each_with_index do |v, i| %>
      <% if i == @snippet.snippet_versions.length-1 %>
        <option selected value="<%= i %>">v.<%= v.version %></option>
      <% else %>
        <option value="<%= i %>">v.<%= v.version %></option>
      <% end %>
      <% end %>
    </select>
    <% if current_user && @snippet.user == current_user %>
      <%= link_to t("snippet_version.actions.edit"), edit_snippet_version_path(@snippet.snippet_versions.first), id:"snippet-version-edit", style: "background-color: #{@snippet.lang.bgColor}; color: #{@snippet.lang.color}" %>
    <% end %>
  </div>
  <div class="body-show">
    <div id="code">
    <% @snippet.snippet_versions.each_with_index do |v, i| %>
      <div class="code-version <% if i == @snippet.snippet_versions.length-1 %>visible<% end %>" data-id="<%= v.id %>">
        <textarea rows="8" cols="80" class="codemirror-content" data-cdMirrorMode="<%= @snippet.lang.cdMirror%>"><%= v.content %></textarea>
      </div>
    <% end %>
    </div>
    <div class="content">
      <strong><%= t 'activerecord.attributes.snippet.description' %></strong>
      <p class="description"><%= @snippet.description %></p>
      <strong><%= t 'activerecord.attributes.snippet.author' %></strong>
      <p class="description"><%= @snippet.user.fullname %></p>
      <% if current_user && @snippet.user == current_user %>
        <%= link_to t("snippet.actions.parameters"), edit_snippet_path(@snippet), class:"btn btn-dark" %>
        <!-- <%= link_to t("actions.download"), edit_snippet_path(@snippet), class:"btn btn-dark" %> -->
        <%= link_to t("snippet_versions.actions.new"), new_snippet_snippet_version_path(@snippet), class:"btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <% if current_user && @snippet.user == current_user %>
    <div class="version">
      <% @snippet.snippet_versions.each do |version| %>
        <p><%= link_to "Version : "+version.version, version %> - <%= link_to "Destroy", version, method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% end %>
    </div>
  <% end %>
</div>
