<div id="landing" class="vertical-center">
  <div>
    <%= image_tag "logo.png", class:"margin-bottom-small" %>
    <h1><%= t "title" %></h1>
    <p class="description"><%= t "description" %></p>
    <% if !user_signed_in? %>
    <div class="actions">
      <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, class:"btn btn-dark big" %>
      <%= link_to t("actions.start"), new_user_registration_path, class:"btn btn-colored big" %>
    </div>
    <% end %>
    <!-- <p class="mention"><%= t "actions.more" %></p>
    <a href="#lastSnippet" class="scroll">Scroll to lastsnippet</a> -->
  </div>
</div>

<div class="last-snippets" id="lastSnippet">
  <h2>Derniers snippets</h2>
  <div class="snippets list-drop-down">
    <% @snippets.each do |snippet| %>
    <div class="snippet drop-down-item drop-hidden">
      <!-- <button class="drop-deploy-button">+</button> -->
      <div class="drop-header">
        <span class="info snippet-type">func</span>
        <span class="info snippet-lang uppercase" style="background-color: <%= snippet.lang.bgColor %>; color: <%= snippet.lang.color %>"><%= snippet.lang.cd %></span>
        <p class="drop-header-title"><%= snippet.name %></p>
        <div class="drop-header-right">
          <!-- <button class="info copy"></button> -->
          <span class="date"><%= snippet.updated_at.strftime("%d/%m/%Y") %></span>
        </div>
      </div>
      <div class="drop-body">
        <div class="code"><textarea class="codemirror-content" name="name" rows="8" cols="80"  data-cdMirrorMode="<%= snippet.lang.cdMirror %>"><%= snippet.snippet_versions.last.content %></textarea></div>
        <div class="content">
          <p class="description"><%= snippet.description %></p>
          <%= link_to "Plus d'infos", snippet, class:"btn btn-dark" %>
          <!-- <p>Utiliser dans 4 objets</p> -->
          <p class="description"><%= snippet.user.fullname %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
