<section class="sidebar">

	<div class="profil">
		<%= image_tag "avatar", class:"profil__avatar" %>
	
		<div class="profil__info-container">
			<p class="profil__pseudo"><%= user.nickname %></p>
			<p class="profil__fullname"><%= user.fullname %></p>
		</div>
		
		<% if current_user && user.id == current_user.id %>
			<%= link_to "", edit_user_path(id: current_user.id), class:"profil__edit-btn" %>
		<% else %>
			<%# 
			TODO: Implement Relation User has_many likes  
			<a href="" class="profil__starred-btn"></a>
			%>
		<% end %>
		
	</div>

	<% if user.description %>
	<div class="profil-description">
		<p class="profil-description__content"><%= user.description %></p>


		<%#

		TODO: Implement User has_many languages

		<div class="language-list">
			<ul>
				<li class="language-list__item">JS</li>
				<li class="language-list__item">JS</li>
				<li class="language-list__item">JS</li>
				<li class="language-list__item">JS</li>
			</ul>
		</div> 	

		%>
	</div>
	<% end %>

	<div class="social-list">
		<a href="<%= user.url_site %>" class="social-list__item"><%= user.url_site %></a>
		<a href="<%= user.url_github %>" class="social-list__item"><%= user.url_github %></a>
	</div>

	<div class="sidebar__menu">
		<ul>
			<li>
			<%= link_to "Snippets", user_snippets_path(user_id: @user), class:"sidebar__menu-item"  %>
			</li>

			<%#
			TODO: Implement Object  			
			<li><a class="sidebar__menu-item" href="">Objects</a></li>
			%>

			<li><a class="sidebar__menu-item" href="">Starred</a></li>
		</ul>
	</div>
	
</section>