    <div class="form materialize form-center">
      <%= link_to t("actions.back"), :back, class:"btn btn-dark margin-top-medium right" %>
      <h2><%= t "actions.edit" %> <%= @user.fullname %></h2>
      <%= form_for @user, url: {action: "update"} do |f| %>

        <div class="input-field">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, class:"validate" %>
        </div>

        <div class="input-field">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, class:"validate" %>
        </div>

        <div class="input-field">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, class:"validate" %>
        </div>

        <div class="input-field">
          <%= f.label :url_site %>
          <%= f.text_field :url_site, class:"validate" %>
        </div>

        <div class="input-field">
          <%= f.label :url_github %>
          <%= f.text_field :url_github, class:"validate" %>
        </div>

        <div class="input-field">
          <%= f.cktext_area :description, class:"materialize-textarea" %>
        </div>

        <div class="actions margin-top-medium">
          <%= f.submit t("devise.registrations.edit.update"), class:"btn btn-colored" %>
        </div>
      <% end %>
    </div>