<!DOCTYPE html>
<html>
  <head>
    <title>CodeKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="search">
        <input type="text" class="search-input">
        <input type="submit" value="Rechercher">
      </div>
      <nav>
        <ul>
          <%= link_to(snippets_path) do %>
          <li>Snippets</li>
          <% end %>
          <%= link_to(snippets_path) do %>
          <li>Obejts</li>
          <% end %>
          <%= link_to(snippets_path) do %>
          <li>Profil</li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
