<!DOCTYPE html>
<html>
  <head>
    <title>CodeKeeper</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="wrapper">
        <div class="search">
          <%= form_tag search_path, id:"form-search", remote: true do %>
          <input type="text" name="text" class="search-input" id="search-input" autofocus="true">
          <!-- <input type="submit" value="Rechercher"> -->
          <button class="btn btn-colored" id="sidebar-right-btn">Filtres</button>
          <% end %>
        </div>
        <nav>
          <ul>
            <%= link_to(snippets_path) do %>
            <li>Snippets</li>
            <% end %>
            <!-- <%= link_to(snippets_path) do %>
            <li>Objets</li>
            <% end %> -->
            <%= link_to(snippets_path) do %>
            <li><%= t("header.profil") %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div id="sidebar-right" class="filter-menu hide">
      <ul>
        <%  @languages.each do |l| %>
        <li><%= l.cd %></li>
        <% end %>
      </ul>
    </div>
    <div id="response-search" class="closed" data-prototype="<a href='/snippets/__id__'><div class='response'><p class='title'>__name__</p><p class='lang'>__lang__</p></div></a>"></div>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>

    </footer>
  </body>
</html>
